apiVersion: v2
name: spark-operator
description: A Helm chart for Spark on Kubernetes operator
version: 1.1.21
appVersion: v1beta2-1.3.5-3.1.1
keywords:
  - spark
home: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator
maintainers:
  - name: yuchaoran2011
    email: yuchaoran2011@gmail.com
