apiVersion: v2
name: spark-operator
description: A Helm chart for Spark on Kubernetes operator
version: 1.1.29
appVersion: v1beta2-1.4.0-3.5.0
keywords:
  - spark
home: https://github.com/GoogleCloudPlatform/spark-on-k8s-operator
maintainers:
  - name: yuchaoran2011
    email: yuchaoran2011@gmail.com
