.idea/
.vscode/
bin/
charts/
docs/
examples/
manifest/
sparkctl/sparkctl
sparkctl/sparkctl-linux-amd64
sparkctl/sparkctl-darwin-amd64
test/
vendor/
.DS_Store
.gitignore
.gitlab-ci.yaml
.pre-commit-config.yaml
CONTRIBUTING.md
OWNERS
README.md
spark-operator
test.sh
