name: Release Spark Operator Charts

on:
 push:
    branches:
      - odh
    paths:
      - charts/spark-operator-chart/Chart.yaml
      - charts/spark-operator-chart/values.yaml

jobs:
  release:
    # IMPORTANT: These permissions allow the action to write to your repo
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4.3.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
