name: Release Helm charts

on:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HELM_REGISTRY: ghcr.io
  HELM_REPOSITORY: ${{ github.repository_owner }}/helm-charts

jobs:
  release_helm_charts:
    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Get Helm version
        id: get_helm_version
        run: |
          HELM_VERSION=$(grep -e '^	helm.sh/helm/v3 v' go.mod | cut -d ' ' -f 2)
          echo "HELM_VERSION=$HELM_VERSION" >> "$GITHUB_OUTPUT"

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: ${{ steps.get_helm_version.outputs.HELM_VERSION }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.HELM_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Read version from VERSION file
        run: |
          VERSION=$(cat VERSION)
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Package Helm charts
        run: |
          for chart in $(ls charts); do
            helm package charts/${chart}
          done

      - name: Upload charts to GHCR
        run: |
          for pkg in $(ls *.tgz); do
            helm push ${pkg} oci://${{ env.HELM_REGISTRY }}/${{ env.HELM_REPOSITORY }}
          done

      - name: Save packaged charts to temp directory
        run: |
          mkdir -p /tmp/charts
          cp *.tgz /tmp/charts

      - name: Checkout to branch gh-pages
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Copy packaged charts
        run: |
          cp /tmp/charts/*.tgz .

      - name: Update Helm charts repo index
        env:
          CHART_URL: https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}
        run: |
          helm repo index --merge index.yaml --url ${CHART_URL} .
          git add index.yaml
          git commit -s -m "Add index for Spark operator chart ${VERSION}" || exit 0
          git push
